<h1>Articles#index</h1>
<h2>Hello, Rails! Rendered by default because empty method index in controller</h2>
<p>This file app/views/articles/index.html.erb</p>
<p>          is rendered by default</p> 
<p>          if the method index is empty</p>
<p> in the controller app/controllers/articles_controller </p>